apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-ghgxyxub
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-ghgxyxub:a2dcdf384d6cc9b57319310c3221eb9d13f05f43@sha256:fe10d3cc359fb5826d660af26a894e1c366808507ab618961195bc556190e7c7
          name: container-image
